<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of Demo_BackgroundFetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Demo_BackgroundFetch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E0D078A1D8E8840009C7FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0D07A31D8E8840009C7FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0D07AE1D8E8840009C7FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
